.about {
    padding-top: 88px;
}
.about__container {
}
.about__header {
}
.about__header:not(:last-child) {
    margin-bottom: 46px;
}
.header-about {
}
.header-about__title {
}
.title {
    color: #FFF;
    font-family: "Nova Square";
    font-size: 70px;
    font-weight: 400;
    line-height: 194.8%; /* 136.36/70 */
}
.header-about__text {
}
.text {
    color: #9F9F9F;
    font-family:"Red Hat Display";
    font-size: 25px;
    font-weight: 400;
}
.about__bottom {
    display: flex;
    border-radius: 27px;
    background: #333;
    padding: 48px 72px 55px 55px;
    column-gap: 53px;
}
.bottom-about {
}
.bottom-about__image {
}
.bottom-about__image img {
    border-radius: 25px;
    padding-right: 5px;
}
.bottom-about__image img:hover {
    transform: scale(1.01);
    transition: all 0.3s ease 0s;
}
.bottom-about__image img:not(:hover) {
    transition: all 0.5s ease 0s;
}
.bottom-text {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.mini-text {
    color: #fff;
    font-family:"Red Hat Display";
    font-size: 16px;
    font-weight: 400;
    line-height: 171.3%; /* 27.408px */
}
@media (max-width: 1200px) {
    .bottom-about {
        flex-direction: column;
        align-items: center;
    }
    .about__bottom {
        margin: 0 auto;
        max-width: 700px;
        flex-direction: column;
        align-items: center;
        padding: 48px;
    }
    .bottom-about__image:not(:last-child) {
        margin-bottom: 30px;
    }
}
@media (max-width: 991.98px) {
    .about {
        padding-top: 68px;
    }
}
@media (max-width: 767.98px) {
    .about {
        padding-top: 48px;
    }
    .header-about__title {
        font-size: 60px;
    }
    .header-about__text {
        font-size: 20px;
    }
    .bottom-about__image img {
        max-width: 100%;
    }
    .about__bottom {
        padding: 40px;
    }
}
@media (max-width: 479.98px) {
    .about {
        padding-top: 28px;
    }
    .about__bottom {
        padding: 25px;
    }
    .header-about__title {
        font-size: 40px;
    }
    .header-about__text {
        font-size: 15px;
    }
    .about__header:not(:last-child) {
        margin-bottom: 36px;
    }
    .bottom-about__image:not(:last-child) {
        margin-bottom: 20px;
    }
}