.assortment-left__menu {
    max-width: 289px;
    max-height: 644px;
    border-radius: 17px;
    background: #333;
    padding: 32px 22px 22px 22px;
}
.assortment-left-down__block:not(:last-child) {
    margin-bottom: 20px;
}
.assortment-left__menu:not(:last-child) {
    margin-bottom: 36px;
}
/*================form-payment============*/
.assortment__right {
    display: grid;
}
.form__title {
    color: #FFF;
    font-family:"Red Hat Display";
    font-size: 20px;
    font-weight: 600;
}
.assortment__forms {
    width: 1050px;
    margin: 0 auto;
}
.assortment__forms:not(:last-child) {
    margin-bottom: 50px;
}
.forms__grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 52px;
    row-gap: 32px;
}
.forms__grid:not(:last-child) {
    margin-bottom: 32px;
}
.grid__form {
    padding: 22px 40px;
    border-radius: 7px;
    background: #333;
}
.grid__form ::placeholder {
    color: #9E9E9E;
    font-family:"Red Hat Display";
    font-size: 16px;
    font-weight: 400;
}
.form-grid__input {
    border: none;
    width: 100%;
    background: #333;
}
.form-grid__input::placeholder {
    background: #333;
}
.form-grid__input:focus {
    outline: none;
    background: #333;
}
.down-text {
    height: 178px;
    padding: 22px 40px;
    border-radius: 7px;
    background: #333;
}
.form-text__input {
    border: none;
    width: 100%;
    height: 100%;
    background: #333;
    font-family:"Red Hat Display";
    font-size: 16px;
    font-weight: 400;
}
.form-text__input::placeholder {
    background: #333;
    color: #9E9E9E;
    font-family:"Red Hat Display";
    font-size: 16px;
    font-weight: 400;
}
textarea {
    color: #fff;
}
.form-text__input:focus {
    outline: none;
    background: #333;
}
.assortment__payment-method {
    align-self: end;
}
.payment__title {
    color: #FFF;
    font-family:"Red Hat Display";
    font-size: 20px;
    font-weight: 600;
}
.payment__title:not(:last-child) {
    margin-bottom: 24px;
}
.payment__flex {
    display: flex;
    column-gap: 24px;
}
.payment-flex__stripe {
    border: 1px solid #BABABA;
    background: #FFF;
    padding: 17px 56px 11px 56px;
}
.payment-flex__paypal {
    border: 1px solid #BABABA;
    background: #FFF;
    padding: 28px 37px 21px 37px;
}
.payment-flex__stripe:hover,
.payment-flex__paypal:hover {
    transform: scale(0.95);
    transition: all 0.3s ease 0s;
}
.payment-flex__stripe:not(:hover),
.payment-flex__paypal:not(:hover) {
    transition: all 0.5s ease 0s;
}
/*visible=none|form-number*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    background-color: #333;
    color: #fff;
    border: none;
}
@media (max-width: 1480px) {
    .assortment-left__menu {
        max-width: 389px;
        max-height: 1020px;
    }
    .form__title:not(:last-child) {
        margin-bottom: 20px;
    }
}
@media (max-width: 1100px) {
    .assortment__forms {
        width: 930px;
    }
    .forms__grid {
        column-gap: 32px;
        row-gap: 22px;
    }
    .forms__grid:not(:last-child) {
        margin-bottom: 22px;
    }
    .down-text {
        height: 148px;
    }
}
@media (max-width: 991.98px) {
    .assortment__forms {
        width: 630px;
    }
    .forms__grid {
        column-gap: 15px;
        row-gap: 10px;
    }
    .forms__grid:not(:last-child) {
        margin-bottom: 10px;
    }
    .down-text {
        height: 128px;
    }
    .payment__title {
        text-align: center;
    }
    .form__title {
        margin: 0 auto;
    }
}
@media (max-width: 767.98px) {
    .forms__grid {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .forms__grid {
        row-gap: 20px;
    }
    .forms__grid:not(:last-child) {
        margin-bottom: 20px;
    }
    .payment-flex__stripe {
        padding: 9px 48px 3px 48px;
    }
    .payment-flex__paypal {
        padding: 20px 29px 13px 29px;
    }
    .payment__flex img {
        max-width: 100%;
    }
}
@media (max-width: 660px) {
    .assortment__forms {
        width: 430px;
    }
    .payment__flex {
        display: grid;
    }
    .payment-flex__stripe:not(:last-child) {
        margin-bottom: 20px;
    }
    .payment-flex__stripe,
    .payment-flex__paypal {
        margin: 0 auto;
    }
}
@media (Max-width: 479.98px) {
    .assortment__forms {
        width: 300px;
    }
}