.slider {
    padding-top: 320px;
}
.slider__container {
}
.slider__buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.slider__buttons:not(:last-child) {
    margin-bottom: 30px;
}
.slider__buttons img {
    max-width: 60px;
}
/* .slider__prev-button {
    background: #727171;
    padding: 0px 50px;
    border-radius: 30px;
}
.slider__next-button {
    background: #727171;
    padding: 0px 50px;
    border-radius: 30px;
} */
.slider__menu {

}
.slider__list {
}
.slider__items {
    display: flex;
    justify-content: space-around;
    gap: 45px;
}
.slider__item {
    padding: 20px;
    border-radius: 20px;
    background: #333;
    width: 1000px;
}
.slider__item img{
    width: 500px;
    margin-bottom: 17px;
}
.slide img:hover {
    transform: scale(1.05);
    transition: all 0.3s ease 0s;
}
.slider__name-car {
    text-align: center;
    color: #FFF;
    font-family:"Red Hat Display";
    font-size: 20px;
    font-weight: 400;
    line-height: 194.8%;
}
@media (max-width: 1200px) {
    .slider {
        padding-top: 200px;
    }
}
@media (max-width: 1110px) {
    .slider {
        padding-top: 270px;
    }
}
@media (max-width: 991.98px) {
    .slider {
        padding-top: 400px;
    }
    .slider__item {
        padding: 15px 5px;
    }
    .slider__name-car {
        font-size: 15px;
    }
}
@media (max-width: 936px) {
    .slider {
        padding-top: 500px;
    }
}
@media (max-width: 767.98px) {
    .slider {
        padding-top: 400px;
    }
    .slider__items {
        flex-direction: column;
    }
    .slider__item {
        max-width: 436px;
        margin: 0 auto;
    }
}
@media (max-width: 640px) {
    .slider {
        padding-top: 350px;
    }
}
@media (max-width: 479.98px) {
    .slider {
        padding-top: 200px;
    }
}

/*====================================*/

.slider-container {
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.slider {
    display: flex;
    overflow: hidden;
}
.slide {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    transition: transform 0.5s ease;
    border-radius: 20px;
    background: #333;
    padding: 25px;
}
.slider__text {
    color: #FFF;
    font-family:"Red Hat Display";
    font-size: 20px;
    font-weight: 400;
    line-height: 194.8%; /* 38.96px */
}
.slide img {
    max-width: 100%;
    height: auto;
    margin-bottom: 17px;
}
.slide img {

}
button-slider {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.prev {
    position: absolute;
    background-color: #333;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    top: 50%;
    left: 10px;
    transform: translateY(-100%);
}
.next {
    position: absolute;
    background-color: #333;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    top: 50%;
    right: 10px;
    transform: translateY(-100%);
}
.prev:hover,
.next:hover {
    background-color: #666;
    transition: all 0.3s ease 0s;
}
.prev img {
    width: 50px;
}
.next img {
    width: 50px;
}