@import url(reset.css);
@import url(header.css);
/*=====================================*/
@import url(https://fonts.googleapis.com/css?family=Red+Hat+Display:regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Nova+Square:regular&display=swap);
/*=====================================*/
body {
    font-family: "Red Hat Display";
    font-weight: 400;
    color: #fff;
    background-color: #1B1B1B;
}
.wrapper {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    overflow: clip;
}
[class*="__container"] {
    max-width: 1400px;
    padding: 0px 15px;
    margin: 0 auto;
}
/*header start*/
.header {
    padding-top: 60px;
}
.header__container {
    display: flex;
    justify-content: space-between;
    max-width: 1716px;
    align-items: center;
    column-gap: 50px;
    row-gap: 20px;
    flex-wrap: wrap;
}
.header__logo {
}
.header-logo__link {
}
.header__right {
    width: 1050px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}
.header__menu {
}
.menu-header {
}
.menu-header__items {
    display: flex;
    column-gap: 58px;
}
.menu-header__item {
    color: #B6B6B6;
    font-size: 18px;
    font-weight: 400;
}
.menu-header__item:hover {
    text-decoration: underline;
}
.menu-header__link {
}
.header__info {
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.header__number {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}
.header__number:hover {
    text-decoration: underline;
}
.header__contact {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    padding: 12px 38px;
    font-size: 18px;
    font-weight: 400;
    filter: drop-shadow(0px 15px 50px rgba(255, 255, 255, 0.25));
}
.header__contact:hover {
    background: #727171;
    color: #fff;
    transition: all 0.5s ease 0s;
}
/*language*/
.language-container {
    display: inline-block;
    position: relative;
}
.current-language {
    cursor: pointer;
}
.current-language:hover {
    text-decoration: underline;
}
.language-list {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    top: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    left: 0;
}
.language-list li {
    padding: 10px;
}
.language-list li a {
    text-decoration: none;
    color: #fff;
}
.language-list li a:hover {
    text-decoration: underline;
    overflow: scroll;
}
.arrow-down {
    margin-left: 5px;
    font-size: 0.8em;
}
/*language*/
@media (max-width: 1500px) {
    .header__right {
        width: 900px;
    }
}
@media (max-width: 1212px) {
    .header__right {
        /* margin: 0 auto; */
        width: 100%;
    }
}
@media (max-width: 991.98px) {
    .header__container {
        align-items: start;
        flex-direction: column;
    }
    .header__logo:not(:last-child) {
        margin-bottom: 20px;
    }
    .header__right {
        flex-direction: column;
        row-gap: 30px;
    }
}
@media (max-width: 479.98px) {
    .header__right {
        row-gap: 50px;
    }
    .menu-header__items {
        align-items: center;
        row-gap: 30px;
        flex-direction: column;
    }
    .header__info {
        row-gap: 30px;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
    }
}
/*header end*/

/*page-main start*/
.main {
    padding-top: 50px;
}
.main__background {
    max-width: 1716px;
    min-height: 710px;
    background-color: #FFF;
    border-radius: 41px;
    padding: 66px 28px;
    margin: 0 auto;
}
.main__container {
    position: relative;
    display: flex;
}
.main__info {
    padding: 66px 0px 192px 61px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.main__title {
    font-family: "Nova Square";
    color: #000;
    font-size: 110px;
    font-weight: 400;
    line-height: 1.1; /* 121.88px */
}
.main__title:not(:last-child) {
    margin-bottom: 32px;
}
.main__text {
    color: #000;
    font-size: 25px;
    font-weight: 400;
}
.main__text:not(:last-child) {
    margin-bottom: 53px;
}
.main__button {
    font-size: 16px;
    font-weight: 600;
    padding: 16px 61px;
    border-radius: 9px;
    background: #000;
}
.main__button:hover {
    background: #727171;
    transition: all 0.5s ease 0s;
}
.main__image {
    padding-left: 400px;
}
.main__image img {
    max-width: 1118px;
}
@media (max-width: 1350px) {
    /* .main__info {
        padding: 56px 0px 172px 49px;
    }
    .main__title {
        font-size: 70px;
    }
    .main__image {
        padding-left: 400px;
    }
    .main__title:not(:last-child) {
        margin-bottom: 20px;
    }
    .main__text:not(:last-child) {
        margin-bottom: 40px;
    } */
}
@media (max-width: 991.98px) {
    .main__container {
        flex-direction: column;
    }
    .main__background {
        padding: 10px 10px;
    }
    .main__info {
        position: relative;
        padding: 26px 0px 10px 26px;
    }
    .main__image {
        margin-top: -150px;
        padding-left: 0px;
    }
}
@media (max-width: 767.98px) {
    .main__info {
        padding: 16px 0px 152px 19px;
    }
    .main__image img {
        max-width: 100%;
    }
}
@media (max-width: 479.98px) {
    .main__background {
        min-height: 510px;
    }
    .main__info {
        padding: 10px 0px 132px 15px;
    }
    .main__image {
        margin-top: -100px;
    }
    .main__title {
        font-size: 50px;
    }
    .main__text {
        font-size: 20px;
    }
    .main__title:not(:last-child) {
        margin-bottom: 10px;
    }
}
/*page-main end*/

/*page-search start*/
.search {
    position: relative;
    z-index: 1;
    margin-top: -63px;
}
.search__container {
}
.serach__header {
}
.header-search {
    display: flex;
    font-size: 20px;
    font-weight: 400;
}
.header-search__distance {
    background: #484848;
    padding: 24px 50px;
    border-radius: 11px 0px 0px 0px;
}
.header-search__distance:hover {
    background: #272727;
}
.header-search__hourly {
    background: #484848;
    padding: 24px 50px;
    border-radius: 0px 11px 0px 0px;
}
.header-search__hourly:hover {
    background: #272727;
}
.serach__bottom {
}
.bottom-search {
}
.bottom-search__list {
}
.bottom-search__items {
    background: #484848;
    display: flex;
    justify-content: space-between;
    border-radius: 0px 11px 11px 11px;
    align-items: center;
}
.bottom-search__item {
    padding: 40px;
}
.bottom-search__title {
    color: #CBCBCB;
    font-size: 18px;
    font-weight: 400;
}
.bottom-search__title:not(:last-child) {
    margin-bottom: 5px;
}
.bottom-search__text {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}
.bottom-search__border {
    border: 1px solid #fff;
    height: 65px;
    margin: 15px 0px;
}
.bottom-search__button {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    border-radius: 7px;
    background: #FFF;
    box-shadow: 0px 20px 50px 0px rgba(255, 255, 255, 0.25);
    padding: 28px 64px;
}
.bottom-search__button:hover {
    background: #272323;
    color: #fff;
    transition: all 0.5s ease 0s;
}
@media (max-width: 1500px) {
    /* .search {
        padding-top: 50px;
        margin-top: 0px;
    } */
}
@media (max-width: 1345px) {
    .bottom-search__item {
        padding: 20px 20px;
    }
    .header-search__distance {
        padding: 20px 40px;
    }
    .header-search__hourly {
        padding: 20px 40px;
    }
    .bottom-search__button {
        padding: 20px 44px;
    }
}
@media (max-width: 1200px) {
    .bottom-search__title,
    .bottom-search__text {
        font-size: 14px;
    }
    .bottom-search__button {
        font-size: 18px;
        padding: 18px 40px;
    }
    .header-search__distance,
    .header-search__hourly {
        font-size: 18px;
        padding: 18px 38px;
    }
    .bottom-search__item {
        padding: 20px;
    }
}
@media (max-width: 991.98px) {
    .bottom-search__item {
        padding: 16px;
    }
    .bottom-search__text {
        font-size: 12px;
    }
}
@media (max-width: 767.98px) {
    .search {
        padding-top: 120px;
    }
    .bottom-search__button {
        font-size: 16px;
        padding: 14px 36px;
    }
    .header-search {
        justify-content: center;

    }
    .bottom-search__items {
        flex-direction: column;
        background-color: #1B1B1B;
    }
    .header-search__distance {
        border-radius: 11px 0px 0px 11px;
    }
    .header-search__hourly {
        border-radius: 0px 11px 11px 0px;
    }
}
/*page-search end*/

/*about start*/
.about {
    padding-top: 88px;
}
.about__container {
}
.about__header {
}
.about__header:not(:last-child) {
    margin-bottom: 46px;
}
.header-about {
}
.header-about__title {
}
.title {
    color: #FFF;
    font-family: "Nova Square";
    font-size: 70px;
    font-weight: 400;
    line-height: 194.8%; /* 136.36/70 */
}
.header-about__text {
}
.text {
    color: #9F9F9F;
    font-family:"Red Hat Display";
    font-size: 25px;
    font-weight: 400;
}
.about__bottom {
    display: flex;
    border-radius: 27px;
    background: #333;
    padding: 48px 72px 55px 55px;
    column-gap: 53px;
}
.bottom-about {
}
.bottom-about__image {
}
.bottom-about__image img {
    border-radius: 25px;
    padding-right: 5px;
}
.bottom-text {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.mini-text {
    color: #fff;
    font-family:"Red Hat Display";
    font-size: 16px;
    font-weight: 400;
    line-height: 171.3%; /* 27.408px */
}
@media (max-width: 1200px) {
    .bottom-about {
        flex-direction: column;
        align-items: center;
    }
    .about__bottom {
        margin: 0 auto;
        max-width: 700px;
        flex-direction: column;
        align-items: center;
        padding: 48px;
    }
    .bottom-about__image:not(:last-child) {
        margin-bottom: 30px;
    }
}
@media (max-width: 991.98px) {
    .about {
        padding-top: 68px;
    }
}
@media (max-width: 767.98px) {
    .about {
        padding-top: 48px;
    }
    .header-about__title {
        font-size: 60px;
    }
    .header-about__text {
        font-size: 20px;
    }
    .bottom-about__image img {
        max-width: 100%;
    }
    .about__bottom {
        padding: 40px;
    }
}
@media (max-width: 479.98px) {
    .about {
        padding-top: 28px;
    }
    .about__bottom {
        padding: 25px;
    }
    .header-about__title {
        font-size: 40px;
    }
    .header-about__text {
        font-size: 15px;
    }
    .about__header:not(:last-child) {
        margin-bottom: 36px;
    }
    .bottom-about__image:not(:last-child) {
        margin-bottom: 20px;
    }
}
/*about end*/

/*services start*/
.services {
    padding-top: 91px;
}
.services__container {
}
.services__title {
}
.services__text {
}
.services__text:not(:last-child) {
    margin-bottom: 56px;
}
.services__info {
}
.info-services {
}
.info-services__list {
}
.info-services__items {
    display: flex;
    justify-content: space-between;
    gap: 26px;
}
.info-services__item {
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    background: #333;
}
.info-services__image {
}
.info-services__image:not(:last-child) {
    margin-bottom: 29px;
}
.info-services__right {
}
.info-services__title {
    color: #FFF;
    font-family:"Red Hat Display";
    font-size: 25px;
    font-weight: 700;
    line-height: 1; /* 25/25 */
}
.info-services__title:not(:last-child) {
    margin-bottom: 9px;
}
.info-services__text {
    color: #FFF;
    font-family:"Red Hat Display";
    font-size: 16px;
    font-weight: 400;
    line-height: 131.25%; /* 21/16 */
    /* max-width: 290px; */
}
.info-services__text:not(:last-child) {
    margin-bottom: 19px;
}
.info-services__button {
    color: #000;
    font-family:"Red Hat Display";
    padding: 6px 16px;
    font-size: 15px;
    font-weight: 400;
    line-height: 166.666667%; /* 25/15 */
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 15px 50px 0px rgba(255, 255, 255, 0.25);
}
.info-services__button:hover {
    background: #000;
    color: #fff;
}
@media (max-width: 1430px) {
    .info-services__items {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .info-services__item {
        display: flex;
        gap: 30px;
    }
    .info-services__title:not(:last-child) {
        margin-bottom: 20px;
    }
    .info-services__text:not(:last-child) {
        margin-bottom: 30px;
    }
    .info-services__button {
    }
}
@media (max-width: 1024px) {
    .info-services__item {
        display: grid;
    }
    .info-services__image {
        margin: 0 auto;
    }
    .info-services__image:not(:last-child) {
        margin-bottom: 10px;
    }
}
@media (max-width: 767.98px) {
    .services {
        padding-top: 71px;
    }
    .info-services__image img {
        max-width: 100%;
    }
    .info-services__image:not(:last-child) {
        margin-bottom: 0px;
    }
    .info-services__items {
        grid-template-columns: repeat(1,1fr);
    }
    .info-services__image img {
        width: 500px;
    }
    .info-services__item {
        max-width: 600px;
    }
    .services__title {
        font-size: 60px;
    }
    .services__text {
        font-size: 20px;
    }
    .services__text:not(:last-child) {
        margin-bottom: 36px;
    }
}
@media (max-width: 479.98px) {
    .services {
        padding-top: 31px;
    }
    .services__title {
        font-size: 40px;
    }
    .services__text {
        font-size: 15px;
    }
    .services__text:not(:last-child) {
        margin-bottom: 16px;
    }
}
/*services end*/

/*fleets start*/
.fleets {
    padding-top: 88px;
}
.fleets__container {
}
.fleets__container:not(:last-child) {
    margin-bottom: 35px;
}
.fleets__title {
}
.fleets__text {
}
.fleets-car__background {
    max-width: 1716px;
    max-height: 382px;
    margin: 0 auto;
    border-radius: 30px;
    background: no-repeat url(/img/fleets/fleets-background.jpg);
}
.fleets-car__container {
    display: flex;
    justify-content: space-between;
    padding: 20px;;
}
.fleets-car__container:not(:last-child) {
    margin-bottom: 50px;
}
.car-info {
}
.car-info__left {
}
.car-info__title {
    color: #FFF;
    font-family:"Red Hat Display";
    font-size: 60px;
    font-weight: 400;
    line-height: 194.8%; /* 116.88px */
}
.car-info__title:not(:last-child) {
    margin-bottom: 2px;
}
.car-info__text {
    color: #FFF;
    font-family:"Red Hat Display";
    font-size: 30px;
    font-weight: 600;
    line-height: 147.8%; /* 44.34px */
}
.car-info__text:not(:last-child) {
    margin-bottom: 54px;
}
.car-info__button {
    color: #000;
    font-family:"Red Hat Display";
    font-size: 18px;
    font-weight: 400;
    padding: 13px 61px;
    line-height: 194.8%; /* 35.064px */
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 15px 50px 0px rgba(255, 255, 255, 0.25);
}
.car-info__price {
}
.car-price {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.car-money {
    color: #FFF;
    font-family:"Red Hat Display";
    font-size: 60px;
    font-weight: 700;
    line-height: 194.8%; /* 116.88px */
}
.car-slash {
    color: #FFF;
    font-family:"Red Hat Display";
    font-size: 60px;
    font-weight: 500;
    line-height: 194.8%;
}
.car-perhour {
    color: #A7A7A7;
    font-family:"Red Hat Display";
    font-size: 38px;
    font-weight: 400;
    line-height: 194.8%;
}
.car-info__image {
    position: relative;
    margin-top: -270px;
    padding-left: 736px;
}
.car-info__image img {
    max-width: 100%;
}
@media (max-width: 1440px) {
    .car-info__image {
        padding-left: 500px;
    }
}
@media (max-width: 1200px) {
    .car-info__title {
        font-size: 40px;
    }
    .car-info__text {
        font-size: 25px;
    }
    .car-money,
    .car-slash {
        font-size: 40px;
    }
    .car-perhour {
        font-size: 30px;
    }
    .car-info__image {
        margin-top: -200px;
    }
}
@media (max-width: 1100px) {
    .car-info__image {
        padding-left: 240px;
    }
}
@media (max-width: 991.98px) {
    .car-info__image {
        margin: 0 auto;
        padding-top: 50px;
        margin-top: 0px;
        padding-left: 0px;
    }
    .car-info {
        align-items: center;
        flex-wrap: wrap;
    }
    .car-money,
    .car-slash {
        font-size: 60px;
    }
    .car-perhour {
        font-size: 48px;
    }
    .fleets-car__background {
        padding-left: 100px;
    }
    .car-info__image {
        margin-top: -70px;
    }
}
@media (max-width: 767.98px) {
    .fleets {
        padding-top: 58px;
    }
    .fleets-car__background {
        padding-left: 0;
    }
    .fleets__title {
        font-size: 60px;
    }
    .fleets__text {
        font-size: 20px;
    }
}
@media (max-width: 479.98px) {
    .fleets {
        padding-top: 38px;
    }
    .car-info__title {
        font-size: 25px;
    }
    .car-info__text {
        font-size: 20px;
    }
    .car-info__text:not(:last-child) {
        margin-bottom: 30px;
    }
    .car-info {
        row-gap: 30px;
    }
    .car-money,
    .car-slash {
        font-size: 40px;
    }
    .car-perhour {
        font-size: 28px;
    }
    .fleets__title {
        font-size: 40px;
    }
    .fleets__text {
        font-size: 15px;
    }
    .fleets__container:not(:last-child) {
        margin-bottom: 16px;
    }
    .fleets-car__background {
        max-height: 310px;
    }
    .car-info__image {
        padding-top: 30px;
    }
}
/*fleets end*/

/*slider start*/
.slider {
    padding-top: 320px;
}
.slider__container {
}
.slider__buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.slider__buttons:not(:last-child) {
    margin-bottom: 30px;
}
.slider__buttons img {
    max-width: 60px;
}
.slider__prev-button {
    background: #727171;
    padding: 0px 50px;
    border-radius: 30px;
}
.slider__next-button {
    background: #727171;
    padding: 0px 50px;
    border-radius: 30px;
}
.slider__next-button:hover {
    background: #484848;
}
.slider__menu {

}
.slider__list {
}
.slider__items {
    display: flex;
    justify-content: space-around;
    gap: 45px;
}
.slider__item {
    padding: 20px;
    border-radius: 20px;
    background: #333;
    width: 1000px;
}
.slider__item img{
    width: 500px;
    margin-bottom: 17px;
}
.slider__name-car {
    text-align: center;
    color: #FFF;
    font-family:"Red Hat Display";
    font-size: 20px;
    font-weight: 400;
    line-height: 194.8%; /* 38.96px */
}
@media (max-width: 1200px) {
    .slider {
        padding-top: 200px;
    }
}
@media (max-width: 1110px) {
    .slider {
        padding-top: 270px;
    }
}
@media (max-width: 991.98px) {
    .slider {
        padding-top: 400px;
    }
    .slider__item {
        padding: 15px 5px;
    }
    .slider__name-car {
        font-size: 15px;
    }
}
@media (max-width: 936px) {
    .slider {
        padding-top: 500px;
    }
}
@media (max-width: 767.98px) {
    .slider {
        /* padding-top: 400px; */
    }
    .slider__items {
        flex-direction: column;
    }
    .slider__item {
        max-width: 436px;
        margin: 0 auto;
    }
}
@media (max-width: 640px) {
    .slider {
        padding-top: 350px;
    }
}
@media (max-width: 479.98px) {
    .slider {
        padding-top: 200px;
    }
}
/*slider end*/

/*brand start*/
.brand {
    padding-top: 147px;
}
.brand__background {
    max-width: 1716px;
    margin: 0 auto;
    background: #fff;
    border-radius: 20px;
    padding: 84px 10px;
}
.brand__container {
}
.brand__items {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}
.brand__item {
}
.brand__item img {
    max-width: 100%;
}
@media (max-width: 1440px) {
    .brand__background {
        padding: 50px 10px;
    }
}
@media (max-width: 1024px) {
    .brand__items {
        /* column-gap: 20px; */
    }
}
@media (max-width: 767.98px) {
    .brand__items {
        flex-direction: column;
        align-items: center;
        row-gap: 70px;
    }
}
/*brand end*/