@import url(reset.css);
@import url(header.css);
@import url(main.css);
@import url(search.css);
@import url(about.css);
@import url(services.css);
@import url(fleets.css);
@import url(slider.css);
@import url(brand.css);
@import url(choose.css);
@import url(contact.css);
@import url(footer.css);
/*==============Booking1=============== */
@import url(booking-main.css);
@import url(booking-navigation.css);
/*=====================================*/
@import url(https://fonts.googleapis.com/css?family=Red+Hat+Display:regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Nova+Square:regular&display=swap);
/*=====================================*/
body {
    font-family: "Red Hat Display";
    font-weight: 400;
    color: #fff;
    background-color: #1B1B1B;
}
.wrapper {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    overflow: clip;
    padding: 0px 15px; /*maybe delete*/
}
[class*="__container"] {
    max-width: 1400px;
    padding: 0px 15px;
    margin: 0 auto;
}